<!DOCTYPE html>
<html lang="en">

<%- include("../parcials/head.ejs", {stylesheet: ["stylehome", "style_crear_editarProducto" ]}); %>

  <body>

    <%- include("../parcials/headerAdmin.ejs"); %>

      <form action="/products/store" method="POST"  class="form">
        <div>
          <h4>CREAR PRODUCTO</h4>
        </div>
        <div>
          <input type="text" name="titulo" id="titulo" placeholder="Nombre producto" minlength="3" required
            class="input-text">
        </div>
        <div>
          <input type="text" name="autor" id="autor" placeholder="Autor" minlength="3" required
            class="input-text">
        </div>
        <div class="descripcion">
          <label for="descripcion">Descripción</label>
        </div>
        <div>
          <textarea name="descripcion" id="descripcion" cols="100" rows="6"></textarea>
        </div>
        <div>
          <input type="text" name="genero" id="genero" placeholder="Género" class="input-text">
        </div>
        <div class="categoria">
          <label for="categoria">Categoria</label>
          <select name="categoria" id="categoria">
            <option value="bestsellers">BESTSELLERS</option>
            <option value="nuevos-lanzamientos">NUEVOS LANZAMIENTOS</option>
            <option value="todos">TODOS</option>
          </select>
        </div>
        <div>
          <input type="text" name="precio" id="precio" placeholder="$ Precio" class="input-text" required>
        </div>
        <div class="div-foto">
          <label for="" class="nombre-reg">Ingresá una imagen del producto:</label>
          <input type="file" name="imagen" id="imagen" accept=".jpg, .png">
        </div>
        <div class="div-bot">
          <input type="submit" value="Crear producto" class="but-submit botones">
        </div>
      </form>
      <%- include("../parcials/footerAdmin.ejs"); %>
  </body>

</html>