<!DOCTYPE html>
<html lang="en">

<%- include("../parcials/head.ejs", {stylesheet: ["stylehome", "style_crear_editarProducto" ]}); %>

  <body>

    <%- include("../parcials/headerAdmin.ejs"); %>

      <form action="/products/:id?_method=PUT" method="POST" class="form">
        <div>
          <h4>EDITAR PRODUCTO</h4>
        </div>
        <div class="search-product">
          <input type="text" name="producto" id="producto" placeholder="Buscar producto" minlength="3" required
            class="input-text search">
          <input type="submit" value="Buscar" class="but-submit botones but-search-edit">
        </div>
        <hr>
        <div>
          <input type="text" name="nombre" id="nombre" placeholder="Nombre del producto" minlength="3" required
            class="input-text">
        </div>
        <div>
          <input type="text" name="autor" id="autor" placeholder="Autor" minlength="3" required
            class="input-text">
        </div>
        <div>
          <input type="text" name="genero" id="genero" placeholder="Género" class="input-text">
        </div>
        <div class="categoria">
          <label for="categoria">Categoria</label>
          <select name="categoria" id="categoria">
            <option value="bestsellers">BESTSELLERS</option>
            <option value="nuevos-lanzamientos">NUEVOS LANZAMIENTOS</option>
            <option value="todos">TODOS</option>
          </select>
        </div>
        <div class="descripcion">
          <label for="descripcion">Descripción</label>
        </div>
        <div>
          <textarea name="descripcion" id="descripcion" cols="100" rows="5">*autocomp*</textarea>
        </div>
        <div>
          <input type="text" name="precio" id="precio" placeholder="$ Precio" class="input-text" required>
        </div>
        <div class="div-foto">
          <label for="" class="nombre-reg">Cambiar imagen del producto:</label>
          <img src="/img/h-p-1.jpg" alt="nombre_del_libro" class="libro-edit">
          <input type="file" name="imagen" id="imagen" accept=".jpg, .png">
        </div>
        <div class="div-bot">
          <input type="submit" value="Editar producto" class="but-submit botones">
          <input type="reset" value="Restablecer" class="but-rest botones">
        </div>
      </form>
      <%- include("../parcials/footerAdmin.ejs"); %>
  </body>

</html>