<footer>
  <hr>
    <section class="f-left">
      <p>R e d e s</p>
      <ul>
        <li><a href="#"><i class="fab fa-facebook-f"></i>Facebook</a></li>
        <li><a href="#"><i class="fab fa-twitter"></i>Twitter</a></li>
        <li><a href="#"><i class="fab fa-instagram"></i>Instagram</a></li>
      </ul>
    </section>
    <section class="f-right">
      <div class="contact">
        <p>CONTACTOS</p>
        <ul>
          <li>+54 351 2978876</li>
          <li>biblo@outlook.com</li>
          <li><a href="#">MAPS</a></li>
        </ul>
      </div>
      <div class="atenttion">
        <p>ATENCION AL CLIENTE</p>
        <ul>
          <li><a href="#">Quiénes somos</a></li>
          <li><a href="#">Centro de ayuda</a></li>
        </ul>
      </div>
      <div class="pay">
        <p>MEDIOS DE PAGO</p>
        <ul>
          <li><img src="/img/vistas/mp-visa-master.png" alt="mp-vm" class="img-pay"></li>
        </ul>
      </div>
    </section>
    <hr>
    <section class="copyright">
      <p>Copyright © 2022 Biblo</p>
      <a href="#"><i class="fas fa-arrow-up"></i></a>
    </section>
  </footer>