<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

  <link href="https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,200;0,300;0,500;0,900;1,300&family=Roboto+Slab:wght@200;400&family=Roboto:ital,wght@0,100;0,900;1,100&family=Staatliches&family=Yeseva+One&display=swap" rel="stylesheet">  

  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
  <link rel="stylesheet" href="/css/normalize.css">
  <% for(let i=0; i < stylesheet.length; i++){ %>
    <link rel="stylesheet" href="/css/<%= stylesheet[i] %>.css">
    <% } %>
      <title>BIBLO</title>
</head>