<header>
    <div class="top-header">
      <div class="burger">
        <form action="" method="">
          <button type="menu"><i class="fas fa-bars"></i></button>
        </form>
      </div>
      <div class="search-top">
        <form action="" method="">
          <input type="text" placeholder="Buscar...">
          <button type="submit"><i class="fas fa-search"></i></button>
        </form>
      </div>
      <a href="/"><img src="/img/vistas/logo.jpg" alt="logo" class="logo"></a>
    </div>
    <div class="bottom-header">
      <div class="search-bottom">
        <form action="" method="">
          <input type="text" placeholder="Buscar..." size="15">
          <button type="submit"><i class="fas fa-search"></i></button>
        </form>
      </div>
      <nav class="bottom-nav">
        <ul>
          <li><a href="/products/create">Crear producto</a></li>
          <li>|</li>
          <li><a href="#">Editar usuarios</a></li>
          <li>|</li>
          <li><a href="#" class="profile-box"><img class='profile' src="/img/users/image-default.jpg" alt="">NOMBRE</a></li>
        </ul>
      </nav>
    </div>
  </header>