<section class="roulette">
    <form action="" method="">
      <p>¿No sabés qué elegir? ¡Dejanos eso a nosotros! </p>
      <button type="submit">Click aquí</button>
      <hr>
    </form>
  </section>