<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/stylehome.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
    <title>BIBLO</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@100&display=swap" rel="stylesheet">
</head>

<body>
    <header>
        <div class="box-header">
            <div class="burger">
                <button type="menu"><i class="fas fa-bars"></i></button>
            </div>
            <img src="/images/logo.jpg" alt="logo" class="logo">
            <div class="search">
                <input type="text" placeholder="Buscar..." size="15">
                <button type="submit"><i class="fas fa-search"></i></button>
            </div>
        </div>
        <nav>
            <li><a href="#">Ingresar</a></li>
            <li class="space-list">|</li>
            <li><i class="fas fa-book"></i><a href="#">MI CARRITO</a></li>
        </nav>
    </header>
</body>

</html>