<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/stylehome.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
    <title>BIBLO</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@100&display=swap" rel="stylesheet">
</head>

<body>
    <header>
        <div class="top-header">
            <div class="burger">
                <form action="" method="">
                    <button type="menu"><i class="fas fa-bars"></i></button>
                </form>
            </div>
            <div class="search-top">
                <form action="" method="">
                    <input type="text" placeholder="Buscar...">
                    <button type="submit"><i class="fas fa-search"></i></button>
                </form>
            </div>
            <nav class="top-nav">
                <ul>
                    <li><a href="#">Novedades</a></li>
                    <li><a href="#">Más vendidos</a></li>
                    <li><a href="#">Editoriales</a></li>
                </ul>
            </nav>
            <img src="/images/logo.jpg" alt="logo" class="logo">
        </div>
        <div class="bottom-header">
            <div class="search-bottom">
                <form action="" method="">
                    <input type="text" placeholder="Buscar..." size="15">
                    <button type="submit"><i class="fas fa-search"></i></button>
                </form>
            </div>
            <nav class="bottom-nav">
                <ul>
                    <li><a href="#">Crear Cuenta</a></li>
                    <li>|</li>
                    <li><a href="#">Ingresar</a></li>
                    <li>|</li>
                    <li><i class="fas fa-book"></i><a href="/carrito">MI CARRITO</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <section class="roulette">
        <form action="" method="">
            <p>¿No sabes que elegír? Dejanos eso a nosotros! </p>
            <button type="submit">Click aquí</button>
            <hr>
        </form>
    </section>
    <main>
        <section id="destacado">
            <article>
                <h4>DESTACADO DEL MES</h4>
                <h4>#1</h4>
                <div class="destacado">
                    <a href="#"><img src="/img/red-queen.jpg" alt="red-queen"></a>
                    <p class="title">RED QUEEN</p>
                    <p class="price">$0000</p>
                    <p class="description">Lorem ipsum dolor sit, amet consectetur adipisicing eli.</p>
                </div>
            </article>
            <hr>
        </section>
        <section class="box-top">
            <div class="top-section">
                <h3><a href="#">BESTSELLERS</a></h3>
                <article>
                    <a href="#"><img src="/img/h-p-1.jpg" alt="harry-potter-1"></a>
                    <div class="box-book">
                        <p class="title">Harry Potter y la piedra filosofal</p>
                        <p class="price">$0000</p>
                        <p class="book-description">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ratione
                            aut
                            similique debitis dolorem soluta iste mollitia optio laboriosam id tenetu.</p>
                    </div>
                </article>
                <article>
                    <a href="#"><img src="/img/h-p-2.jpg" alt="harry-potter-2"></a>
                    <div class="box-book">
                        <p class="title">Harry Potter y camara secreta</p>
                        <p class="price">$0000</p>
                        <p class="book-description">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ratione
                            aut
                            similique debitis dolorem soluta iste mollitia optio laboriosam id tenetu.</p>
                    </div>
                </article>
                <article>
                    <a href="#"><img src="/img/h-p-3.jpg" alt="harry-potter-3"></a>
                    <div class="box-book">
                        <p class="title">Harry Potter y el prisionero de Azkaban</p>
                        <p class="price">$0000</p>
                        <p class="book-description">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ratione
                            aut
                            similiqu debitis dolorem soluta iste mollitia optio laboriosam id tenetu.</p>
                    </div>
                </article>
            </div>
        </section>
        <section class="box-bottom">
            <div class="bottom-section">
                <h3><a href="#">NUEVOS LANZAMIENTOS</a></h3>
                <article>
                    <a href="#"><img src="/img/hombres-del-norte.jpg" alt="hombres-del-norte"></a>
                    <div class="box-book">
                        <p class="title">Los hombres del norte</p>
                        <p class="price">$0000</p>
                        <p class="book-description">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ratione
                            aut
                            similique debitis dolorem soluta iste mollitia optio laboriosam id tenetu.</p>
                    </div>
                </article>
                <article>
                    <a href="#"><img src="/img/violeta.jpg" alt="violeta"></a>
                    <div class="box-book">
                        <p class="title">Violeta</p>
                        <p class="price">$0000</p>
                        <p class="book-description">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ratione
                            aut
                            similiqu debitis dolorem soluta iste mollitia optio laboriosam id tenetu.</p>
                    </div>
                </article>
                <article>
                    <a href="#"><img src="/img/billy-summers.jpeg" alt="billy-summers"></a>
                    <div class="box-book">
                        <p class="title">BILLY SUMMERS</p class="title">
                        <p class="price">$0000</p>
                        <p class="book-description">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ratione
                            aut
                            similique debitis dolorem soluta iste mollitia optio laboriosam id tenetu.</p>
                    </div>
                </article>
            </div>
        </section>
    </main>
    <hr>
    <section class="news">
        <form action="" method="">
            <label for="name" class="novedades">NOVEDADES</label>
            <div class="send-email">
                <input type="text" placeholder="Nombre" id="name" class="name">
                <input type="email" placeholder="Escribi tu email" class="email">
                <button type="submit"><i class="fas fa-arrow-right"></i></button>
            </div>
        </form>
    </section>
    <hr>
    <footer>
        <section class="f-left">
            <p>R e d e s</p>
            <ul>
                <li><a href="#"><i class="fab fa-facebook-f"></i>Facebook</a></li>
                <li><a href="#"><i class="fab fa-twitter"></i>Twitter</a></li>
                <li><a href="#"><i class="fab fa-instagram"></i>Instagram</a></li>
            </ul>
        </section>
        <section class="f-right">
            <div class="contact">
                <p>CONTACTOS</p>
                <ul>
                    <li>+54 351 2978876</li>
                    <li>biblo@outlook.com</li>
                    <li><a href="#">MAPS</a></li>
                </ul>
            </div>
            <div class="atenttion">
                <p>ATENCION AL CLIENTE</p>
                <ul>
                    <li><a href="#">Quienes somos</a></li>
                    <li><a href="#">Centro de ayuda</a></li>
                </ul>
            </div>
            <div class="pay">
                <p>MEDIOS DE PAGO</p>
                <ul>
                    <li><img src="/img/mp-visa-master.png" alt="mp-vm" class="img-pay"></li>
                </ul>
            </div>
        </section>
        <hr>
        <section class="copyright">
            <p>Copyright © 2022 Biblo</p>
            <form action="/" method="get">
                <button type="submit"><i class="fas fa-arrow-up"></i></button>
            </form>
        </section>
    </footer>
</body>

</html>