<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Producto</title>
    <link rel="stylesheet" href="/public/css/producto.css">
</head> 
<body>
    <header>
        <div class="top-header">
            <div class="burger">
                <form action="" method="">
                    <button type="menu"><i class="fas fa-bars"></i></button>
                </form>
            </div>
            <div class="search-top">
                <form action="" method="">
                    <input type="text" placeholder="Buscar...">
                    <button type="submit"><i class="fas fa-search"></i></button>
                </form>
            </div>
            <nav class="top-nav">
                <ul>
                    <li><a href="#">Novedades</a></li>
                    <li><a href="#">Más vendidos</a></li>
                    <li><a href="#">Editoriales</a></li>
                </ul>
            </nav>
            <img src="/images/logo.jpg" alt="logo" class="logo">
        </div>
        <div class="bottom-header">
            <div class="search-bottom">
                <form action="" method="">
                    <input type="text" placeholder="Buscar..." size="15">
                    <button type="submit"><i class="fas fa-search"></i></button>
                </form>
            </div>
            <nav class="bottom-nav">
                <ul>
                    <li><a href="#">Crear Cuenta</a></li>
                    <li>|</li>
                    <li><a href="#">Ingresar</a></li>
                    <li>|</li>
                    <li><i class="fas fa-book"></i><a href="/carrito">MI CARRITO</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <main>
 <div class="container-producto">
     <img src="/public/img/h-p-1.jpg" alt="imagen de producto">
     <div class="informacion-producto">
          <h3> Harry Potter I</h3>
          <p> Harry Potter se ha quedado huérfano y vive en casa de sus abominables tíos y el insoportable primo Dudley. Harry se siente muy triste y solo, hasta que un buen día recibe una carta que cambiará su vida para siempre. En ella le comunican que ha sido aceptado como alumno en el Colegio Hogwarts de Magia. </p>
          <span class="price"> $2500 </span>
          <span> Autor: J. K. Rowling </span>
          <span> Genero: Aventura, fantasia </span>
          <span> Modalidad: virtual </span>
          <span> Paginas: 525</span>
        

    </div>
    <a href="">Ver otros libros de este autor</a>
 </div>
 



    </main>

    
</body>
</html>