* {
    box-sizing: border-box;
    font-family: 'Be Vietnam Pro', sans-serif;
}

/*HEADER*/

.top-header {
    width: 100%;
    padding: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background-color: #08344F;
}

.burger {
    width: 10%;
    text-align: center;
}

.burger button,
.burger i {
    font-size: 24px;
    color: white;
    border: none;
    background-color: #08344F;
}

.search-top {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 40%;
}

.search-top input {
    width: 90%;
    padding: 3px;
    padding-left: 5px;
    font-size: 12px;
    border-radius: 5px;
}

.search-top button {
    position: absolute;
    right: 10%;
    color: #204860;
    background-color: white;
    border: none;
}

.top-nav {
    display: none;
}

.top-nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}

.top-nav ul {
    list-style-type: none;
    display: flex;
}

.top-nav li {
    margin: 0 5px;
}

.top-nav a {
    color: white;
    font-size: 12px;
    font-weight: bold;
    text-decoration: none;
}

.logo {
    max-width: 150px;
    max-height: 150px;
}

.search-bottom {
    display: none;
}

.bottom-nav {
    padding: 10px;
    background-color: #8399a7;
}

.bottom-nav ul {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.bottom-nav ul li {
    color: white;
    margin: 0 10px;
    list-style-type: none;
}

.bottom-nav ul li a {
    color: white;
    font-size: 12px;
    text-decoration: none;
}

.fa-book {
    color: #204860;
    margin-right: 5px;
}

/*SECTION Y ARTICLES*/

.roulette {
    font-size: 12px;
    font-weight: bold;
    text-align: center;
}

.roulette button {
    width: 200px;
    background-color: white;
    border-radius: 5px;
    border: solid 1px #cdd6db;
    transition: all 400ms;
}

.roulette button:hover {
    font-weight: bold;
    color: white;
    padding: 3px;
    border-radius: 5px;
    border: solid 1px white;
    background-color: lightblue;
}

hr {
    margin-top: 15px;
    width: 100%;
    color: #5d676e;
}

/*FOOTER*/

footer {
    margin-top: 15px;
    padding: 0 5%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}

.f-left {
    width: 100%;
    display: flex;
    align-items: center;
}

.f-left p {
    width: 50%;
    font-weight: bold;
    font-size: 14px;
    text-align: center;
    padding: 0px 0px 0 40px;
    color: #5d676e;
}

.f-left ul {
    width: 50%;
    padding: 0;
    margin: 0;
}

.f-left ul li {
    list-style-type: none;
}

.f-left ul a {
    text-decoration: none;
    font-size: 12px;
    font-weight: bold;
    color: #5d676e;
}

.f-left ul a i {
    color: #5d676e;
    font-size: 14px;
    margin: 8px 10px;
}

.f-right {
    font-size: 12px;
    text-align: center;
    color: #5d676e;
}

.f-right p {
    margin-top: 30px;
}

.f-right ul {
    margin: 0;
    padding: 0;
}

.f-right ul li {
    list-style-type: none;
    font-size: 11px;
}

.f-right ul a {
    text-decoration: none;
    font-weight: bold;
    font-size: 11px;
}

.img-pay {
    max-width:90px;
    max-height: 40px;
}

.copyright {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    font-size: 12px;
    color: #5d676e;
}

.copyright p {
    width: 90%;
    text-align: left;
}

.copyright form {
    width: 10%;
}

.copyright form button {
    padding: 0;
    border: none;
    background-color: white;
}

@media (min-width: 481px) {
    .search-top {
        display: none;
    }

    .top-nav {
        display: block;
    }

    .bottom-header {
        display: flex;
        flex-wrap: wrap;
        align-items: baseline;
        background-color: #8399a7;
    }

    .bottom-nav {
        width: 50%;
    }

    .bottom-nav ul {
        margin-right: 5%;
        justify-content: flex-end;
    }

    .search-bottom {
        display: block;
    }

    .search-bottom {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: center;
        position: relative;
        width: 50%;
    }

    .search-bottom input {
        margin-left: 15%;
        width: 55%;
        border-radius: 5px;
        padding: 5px 0 0 10px;
        font-size: 14px;
    }

    .search-bottom button {
        position: absolute;
        right: 31%;
        bottom: 13%;
        color: #204860;
        background-color: white;
        border: none;
    }

    footer {
        display: flex;
        flex-direction: row;
        justify-content: stretch;
    }

    .f-left {
        width: 30%;
    }

    .f-left p {
        padding: 0;
    }

    .f-right {
        width: 70%;
        display: flex;
        justify-content: flex-end;
    }

    .f-right p {
        margin: 0;
        margin-bottom: 5px;
    }

    .f-right div {
        padding: 0 15px;
    }

    .copyright p {
        padding-left: 10px;
    }

    .copyright form {
        text-align: center;
    }
}