<!DOCTYPE html>
<html lang="en">

<%- include("./parcials/head", {stylesheet: ["stylehome"]}) %>

    <body>
        <%- include("./parcials/header"); %>
        <main>
            <P>ERROR 404</P>
        </main>
            <%- include("./parcials/footer"); %>
    </body>

</html>