<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@100&display=swap" rel="stylesheet">
  <title>Producto</title>
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/stylehome.css">
  <link rel="stylesheet" href="/css/producto.css">
</head>

<body>
  <header>
    <div class="top-header">
      <div class="burger">
        <form action="" method="">
          <button type="menu"><i class="fas fa-bars"></i></button>
        </form>
      </div>
      <div class="search-top">
        <form action="" method="">
          <input type="text" placeholder="Buscar...">
          <button type="submit"><i class="fas fa-search"></i></button>
        </form>
      </div>
      <nav class="top-nav">
        <ul>
          <li><a href="#">Novedades</a></li>
          <li><a href="#">Más vendidos</a></li>
          <li><a href="#">Editoriales</a></li>
        </ul>
      </nav>
      <a href="/"><img src="/img/logo.jpg" alt="logo" class="logo"></a>
    </div>
    <div class="bottom-header">
      <div class="search-bottom">
        <form action="" method="">
          <input type="text" placeholder="Buscar..." size="15">
          <button type="submit"><i class="fas fa-search"></i></button>
        </form>
      </div>
      <nav class="bottom-nav">
        <ul>
          <li><a href="/register">Crear Cuenta</a></li>
          <li>|</li>
          <li><a href="/login">Ingresar</a></li>
          <li>|</li>
          <li><i class="fas fa-book"></i><a href="/carrito">MI CARRITO</a></li>
        </ul>
      </nav>
    </div>
  </header>
  <section class="roulette">
    <form action="" method="">
      <p>¿No sabés qué elegir? ¡Dejanos eso a nosotros! </p>
      <button type="submit">Click aquí</button>
      <hr class="hr-rou">
    </form>
  </section>

  <main>
    <section>
      <div class="container-producto">
        <img src="/img/h-p-1.jpg" alt="imagen de producto">
        <div class="info-y-link">
          <div class="informacion-producto">
            <h3 class="titulo">Harry Potter I</h3>
            <p class="desc">Harry Potter se ha quedado huérfano y vive en casa de sus abominables tíos y el insoportable
              primo Dudley.
              Harry se siente muy triste y solo, hasta que un buen día recibe una carta que cambiará su vida para
              siempre.
              En ella le comunican que ha sido aceptado como alumno en el Colegio Hogwarts de Magia. </p>
            <p class="price">$2.500</p>
            <p class="data-prod">Autor: J. K. Rowling</p>
            <p class="data-prod">Género: Aventura, fantasía</p>
            <p class="data-prod">Modalidad: Virtual</p>
            <p class="data-prod">Páginas: 525</p>
          </div>
          <div id="otros-libros">
            <a href="#" class="ver-otros">Ver otros libros de este autor</a>
          </div>
        </div>
      </div>
    </section>
  </main>

  <footer>
    <section class="f-left">
      <p>R e d e s</p>
      <ul>
        <li><a href="#"><i class="fab fa-facebook-f"></i>Facebook</a></li>
        <li><a href="#"><i class="fab fa-twitter"></i>Twitter</a></li>
        <li><a href="#"><i class="fab fa-instagram"></i>Instagram</a></li>
      </ul>
    </section>
    <section class="f-right">
      <div class="contact">
        <p>CONTACTOS</p>
        <ul>
          <li>+54 351 2978876</li>
          <li>biblo@outlook.com</li>
          <li><a href="#">MAPS</a></li>
        </ul>
      </div>
      <div class="atenttion">
        <p>ATENCION AL CLIENTE</p>
        <ul>
          <li><a href="#">Quiénes somos</a></li>
          <li><a href="#">Centro de ayuda</a></li>
        </ul>
      </div>
      <div class="pay">
        <p>MEDIOS DE PAGO</p>
        <ul>
          <li><img src="/img/mp-visa-master.png" alt="mp-vm" class="img-pay"></li>
        </ul>
      </div>
    </section>
    <hr>
    <section class="copyright">
      <p>Copyright © 2022 Biblo</p>
      <a href="#"><i class="fas fa-arrow-up"></i></a>
    </section>
  </footer>

</body>

</html>