.autor-fullname {
    font-size: 38px;
    font-family: 'Staatliches', cursive;
    color: rgba(224, 91, 91, 0.769);
    text-align: center;

}

.box-list {
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.imagen-ebook {
    max-width: 160px;
    max-height: 200px;
}

.ebook-title {
    font-family: 'Yeseva One', cursive;
    font-size: 13px;
    max-width: 150px;
    color: var(--fontcolor);
}

@media (min-width: 480px) {
    .autor-fullname {
        text-align: start;
    }

    .forEach-ebook {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: baseline;
    }

}