* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.title-h1 {
    color: rgba(224, 91, 91, 0.769);
    font-family: 'Staatliches', cursive;
    text-align: center;
    font-size: 38px;
    width: 100%;
}

.ebook {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.imagen-ebook {
    max-width: 160px;
    max-height: 200px;
}

.ebook-title {
    font-family: 'Yeseva One', cursive;
    font-size: 13px;
    max-width: 150px;
    color: var(--fontcolor);
}

@media (min-width: 480px) {
    .title-h1 {
        text-align: start;
    }

    .box-ebooks {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: flex-start;
        align-items: baseline;
        padding: 30px;
    }
}