* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    ;
}

:root {
    --aroimage: rgba(186, 196, 203, 0.62);
    --iconedit: rgba(0, 0, 0, 0.556);
    --dataconteinerbg: white;
    --listadm: #5d9ec7d4;
}

.profile-main {
    padding-top: 60px;

    background: rgba(212, 228, 239, 1);
    background: -moz-linear-gradient(45deg, rgba(212, 228, 239, 1) 0%, rgba(187, 207, 186, 0.77) 100%);
    background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(212, 228, 239, 1)), color-stop(100%, rgba(187, 207, 186, 0.77)));
    background: -webkit-linear-gradient(45deg, rgba(212, 228, 239, 1) 0%, rgba(187, 207, 186, 0.77) 100%);
    background: -o-linear-gradient(45deg, rgba(212, 228, 239, 1) 0%, rgba(187, 207, 186, 0.77) 100%);
    background: -ms-linear-gradient(45deg, rgba(212, 228, 239, 1) 0%, rgba(187, 207, 186, 0.77) 100%);
    background: linear-gradient(45deg, rgba(212, 228, 239, 1) 0%, rgba(187, 207, 186, 0.77) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#d4e4ef', endColorstr='#bbcfba', GradientType=1);
}

.box-perfil {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.image-conteiner {
    z-index: 3;
    position: relative;
}

.box-imagen {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.box-imagen div {
    width: 100%;
}

.image-profile {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: solid 8px var(--aroimage);
}

.edit-image {
    position: absolute;
    left: 65%;
    bottom: 10px;
    color: var(--iconedit);
    font-size: 11px;
    font-weight: 900;
}

.data-conteiner {
    width: 80%;
    position: relative;
    z-index: 0;
    bottom: 68px;
    border-radius: 20px;
    padding: 60px 20px;
    background-color: var(--dataconteinerbg);
    text-align: center;
}

.user-name {
    padding-top: 20px;
}

.user-email {
    text-align: center;
}

ul {
    padding: 0;
}

li {
    list-style-type: none;
    font-size: 12px;
    font-weight: 200;
}

a {
    text-decoration: none;
    color: var(--iconedit);
}

.user-name {
    color: black;
}

.text-adm {
    margin: 0;
    font-size: 24px;
    font-family: 'Staatliches', cursive;
}

.list-adm {
    text-align: center;
}

.list-adm a {
    color: var(--listadm);
}

@media (min-width: 480px) {
    .edit-adm-list {
        text-align: start;
    }

    .admin-list {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

}