* {
  box-sizing: border-box;
  font-family: 'Be Vietnam Pro', sans-serif;
}

p {
  margin: 0;
}

.hr-rou {
  margin-bottom: 0px;
}

main {
  width: 100%;
  padding: 15px 0;
  box-shadow: inset;
  margin: 0;
}

main section {
  margin-bottom: 15px;
  width: 100%;
}

.box-producto {
  width: 70%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.container-producto {
  width: 90%;
  padding: 10px 0;
  margin: 15px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #8399a7;
  border-radius: 15px;
  flex-wrap: wrap;
}

.container-producto img {
  width: 40%;
  margin: 20px 0px;
}

.info-y-link {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

.informacion-producto {
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  padding: 15px 15px;
  background-color: #08344fac;
  border-radius: 20px;
  color: #e6eaed;
}

.titulo {
  width: 100%;
  text-align: center;
  font-size: 22px;
  margin: 0;
  padding-bottom: 15px;
  font-weight: 900;
}

.desc {
  text-align: center;
  padding: 0 10px;
  font-size: 14px;
  font-weight: 600;
}

.data-prod {
  width: 100%;
  font-size: 12px;
  font-weight: 600;
  padding-bottom: 8px;
  padding-left: 10px;
  text-align: center;
}

.price {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
}

#otros-libros {
  margin: 15px 0;
}

.butt-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
}

.butt-container a {
  width: 200px;
  margin-bottom: 10px;
  text-align: center;
}

.buy-now-button {
  background-color: #204860;
  font-size: 16px;
  font-weight: bold;
  color: #e6eaed;
  padding: 10px;
  border-radius: 8px;
  text-decoration: none;
}

.action-button {
  border: none;
  border-radius: 8px;
  font-size: 16px;
  color: #ffffff;
  padding: 10px 20px;
}

.action-button.edit {
  background-color: lightblue;
  text-decoration: none;
}

.action-button.delete {
  background-color: rgb(233, 98, 74);
}

.ver-otros {
  text-decoration: none;
  font-size: 12px;
  color: #e6eaed;
  cursor: pointer;
  border-radius: 20px;
  padding: 7px 10px;
  text-align: center;
  background-color: #08344fac;
  margin: 50px 0px;
  transition: all 350ms;
  font-weight: 600;
}

.ver-otros:hover {
  background-color: #e6eaed;
  color: #08344fac;
}

@media (min-width: 481px) {
  .box-producto {
    justify-content: space-between;
  }

  .info-y-link {
    width: 60%;
    flex-wrap: wrap;
    justify-content: flex-end;
    margin-top: 20px;
  }

  .container-producto img {
    max-width: 180px;
    max-height: 300px;
    align-self: flex-start;
  }

  .butt-container {
    align-items: flex-end;
  }

  .butt-container a,
  .butt-container form {
    margin: 10px 0px;
  }

  .desc {
    text-align: justify;
  }

  .price {
    font-size: 20px;
    text-align: end;
  }
  
  .data-prod {
    font-size: 14px;
    text-align: start;
  }
}

/*
@media (max-width: 400px) {
    .container-producto {
    flex-direction: column;
    flex-wrap: nowrap;
    width: 100%;
    height: 1200px;
    border: 1px solid;
    margin: 10px auto 0px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    }

    img {
        width: 300px;
        height: 300px;
    }
    
    .informacion-producto {
        width: 100%;
        height: 600px;
      
        padding: 0px 10px;
        margin: 30px 0px;
        border-radius: 0px;
        
    
    }
}
*/