* {
  font-family: 'Roboto';
}

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

h4 {
  font-size: 20px;
  color: black;
}

.form {
  background-color: #bebcbc;
  width: 80%;
  display: flex; 
  flex-wrap: wrap;
  border: transparent;
  border-radius: 5px;
  margin: 30px auto;
  padding: 15px 20px;
  box-shadow: 4px 15px 12px rgb(100, 100, 100);
}

form div {
  padding: 7px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.input-text {
  height: 35px;
  border-radius: 4px;
  border: transparent 0.5px;
  padding: 5px;
  width: 100%;
  font-size: 15px;
  box-shadow: 0px 0px 10px rgb(100, 100, 100);
}

.nombre-reg {
  font-weight: bold;
  display: block;
  margin-bottom: 10px;
  width: 100%;
}

.imagen-producto {
  margin: 5px 0px;
  padding: 7px;
  font-size: 14px;
  border-radius: 4px;
  border: 0.75px whitesmoke;
  font-weight: 550;
  background-color: #ebebeb;
  color: rgb(50,50,50);
}

.div-bot {
  display: flex;
  flex-wrap: wrap;
}

.botones {
  margin: 5px 0px;
  padding: 7px;
  width: 100%;
  font-size: 15px;
  border-radius: 4px;
  border: 0.75px whitesmoke;
  font-weight: 550;
  box-shadow: 0px 5px 10px rgb(100, 100, 100);
  letter-spacing: 0.25px;
}

.but-submit {
  background-color:  #0022AA;
  transition: all 300ms;
  color: #ebebeb;
}

.but-submit:hover {
  background-color: blue;
}

.but-rest {
  background-color: #ebebeb;
  color: rgb(50,50,50);
}

@media (min-width: 481px) {
  .form {
    width: 75%;
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (min-width: 769px) {
  .form {
    width: 65%;
    padding-left: 40px;
    padding-right: 40px;
  }
}