* {
    box-sizing: border-box;
    font-family: 'Be Vietnam Pro', sans-serif;

}

html {
    scroll-behavior: smooth;
}

/*HEADER*/

.top-header {
    width: 100%;
    padding: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background-color: #08344F;
}

.burger {
    width: 10%;
    text-align: center;
}

.burger button,
.burger i {
    font-size: 24px;
    color: white;
    border: none;
    background-color: #08344F;
}

.search-top {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 35%;
}

.search-top form input {
    width: 90%;
    padding: 5px;
    padding-left: 10px;
    font-size: 12px;
    border-radius: 5px;
    border: none;
}

.search-top form button {
    position: absolute;
    right: 7%;
    color: #204860;
    background-color: white;
    border: none;
    margin: 2px 10px;
}

.logo {
    max-width: 150px;
    max-height: 150px;
}

.search-bottom {
    display: none;
    background-color: #e6eaed;
}

.bottom-nav {
    padding: 5px;
    background-color: #e6eaed;
}

.bottom-nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}

.bottom-nav ul li {
    color: white;
    margin: 5px;
    list-style-type: none;
}

.bottom-nav ul li a {
    color: #08344f;
    font-size: 12px;
    text-decoration: none;
}

.bottom-nav ul li a:hover {
    color: #748c9b;
    font-size: 14px;
    transition-duration: 1000ms;
}

.fa-shopping-cart {
    color: #204860;
    font-size: 14px;
    margin-right: 5px;
}

.fa-sign-out-alt {
    margin-top: 4px;
    font-size: 16px;
    color: #204860;
}

.logout {
    background-color: none;
    border: none;
    background-color: #e6eaed;
}

.fa-sign-out-alt:hover {
    color: lightblue;
    font-size: 20px;
    transition-duration: 800ms;
}

.profile {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}

.profile-box {
    display: flex;
    align-items: center;
    font-size: 14px;
    margin-top: 3px;
}

/*SECTION Y ARTICLES*/

.roulette {
    font-size: 12px;
    font-weight: bold;
    color: black;
    text-align: center;
    margin-top: 20px;
}

.roulette button {
    width: 200px;
    background-color: white;
    border-radius: 5px;
    border: solid 1px #cdd6db;
    transition: all 400ms;
}

.roulette button:hover {
    font-weight: bold;
    color: white;
    padding: 3px;
    border-radius: 5px;
    border: solid 1px white;
    background-color: lightblue;
}

#destacado {
    padding: 10px 0;
    margin-bottom: 10px;
    background-color: #dce2e6;
}

h4 {
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    color: #5d676e;
    margin: 0;
    margin-bottom: 10px;
    font-family: 'Oswald', sans-serif;
}

main {
    padding: 0 2%;
    width: 100%;
    margin: 20px 0;
}

.destacado,
.box-book {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: baseline;
    align-items: center;
    text-align: center;
}

section article .title {
    width: 145px;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    margin: 0;
}

.description {
    margin: 0;
    font-size: 11px;
    text-align: st;
    width: 200px;
}

section article .destacado img {
    max-height: 250px;
    margin-bottom: 5px;
}

.box-top img,
.box-bottom img {
    max-height: 210px;
    margin: 10px;
}

h3 {
    text-align: center;
}

h3 a {
    font-family: 'Oswald';
    text-decoration: none;
    font-weight: bold;
    color: #5d676e;
}

.price {
    font-size: 12px;
    text-align: center;
}

.book-description {
    display: none;
    width: 230px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.top-section,
.bottom-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

article a img:hover {
    border-radius: 10px;
    transition-duration: 800ms;
}

hr {
    margin: 15px 0;
    width: 100%;
    color: #5d676e;
}

.news {
    margin: 0 5%;
}

.novedades {
    margin: 10px 0;
    font-weight: bold;
    text-align: right;
    margin-left: 20%;
}

.send-email {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    justify-content: center;
    align-items: center;
    font-size: 13px;
    padding: 10px 0;
}

.send-email input {
    padding: 5px 0 5px 5px;
}

.send-email .name {
    width: 20%;
    margin-right: 5px;
}

.send-email .email {
    width: 40%;
}

.send-email button {
    position: absolute;
    right: 20%;
    border: none;
    background-color: white;
    border-radius: 5px;
}

/*FOOTER*/

footer {
    margin-top: 15px;
    padding: 0 5%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}

.f-left {
    width: 100%;
    display: flex;
    align-items: center;
}

.f-left p {
    width: 50%;
    font-weight: bold;
    font-size: 14px;
    text-align: center;
    padding: 0px 0px 0 40px;
    color: #5d676e;
}

.f-left ul {
    padding: 0;
    margin: 0;
}

.f-left ul li {
    list-style-type: none;
}

.f-left ul a {
    text-decoration: none;
    font-size: 12px;
    font-weight: bold;
    color: #5d676e;
}

.f-left ul a i {
    color: #5d676e;
    font-size: 14px;
    margin: 8px 10px;
}

.f-right {
    font-size: 12px;
    text-align: center;
    color: #5d676e;
}

.f-right p {
    margin-top: 30px;
}

.f-right ul {
    margin: 0;
    padding: 0;
}

.f-right ul li {
    list-style-type: none;
    font-size: 11px;
}

.f-right ul a {
    text-decoration: none;
    font-weight: bold;
    font-size: 11px;
}

.img-pay {
    max-width: 90px;
    max-height: 40px;
}

.copyright {
    width: 100%;
    display: flex;
    align-items: center;
    font-size: 12px;
    color: #5d676e;
}

.copyright p {
    width: 90%;
    text-align: start;
}

.copyright a {
    width: 10%;
    text-align: end;
    border: none;
    margin-right: 20px;
}

@media (min-width: 481px) {
    .search-top {
        display: none;
    }

    .bottom-header {
        display: flex;
        flex-wrap: wrap;
        align-items: baseline;
        background-color: #e6eaed;
    }

    .bottom-nav {
        width: 70%;
    }

    .bottom-nav ul {
        justify-content: flex-end;
    }

    .search-bottom {
        display: block;
    }

    .search-bottom {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-self: center;
        position: relative;
        width: 30%;
    }

    .search-bottom form {
        width: 65%;
        margin-top: 1px;
    }

    .search-bottom form input {
        width: 100%;
        margin-left: 14%;
        border: none;
        border-radius: 5px;
        padding: 5px 0 5px 10px;
        font-size: 12px;
    }

    .search-bottom form button {
        font-size: 95%;
        position: absolute;
        right: 27%;
        bottom: 10%;
        color: #204860;
        background-color: white;
        border: none;
    }

    footer {
        display: flex;
        flex-direction: row;
        justify-content: stretch;
    }

    .f-left {
        width: 30%;
    }

    .f-left p {
        padding: 0;
    }

    .f-right {
        width: 70%;
        display: flex;
        justify-content: flex-end;
    }

    .f-right p {
        margin: 0;
        margin-bottom: 5px;
    }

    .f-right div {
        padding: 0 15px;
    }

    .copyright p {
        padding-left: 10px;
    }

    .book-description {
        display: block;
        margin: 0;
        width: 130px;
        text-align: start;
        font-size: 12px;
    }

    main {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        align-items: center;
    }

    article {
        margin: 0px 20px;
    }

    #destacado {
        width: 250px;
        margin-top: 55px;
        align-self: flex-start;
        margin-right: 5%;
        -webkit-box-shadow: 3px 3px 24px -4px rgba(199, 197, 199, 0.61);
        -moz-box-shadow: 3px 3px 24px -4px rgba(199, 197, 199, 0.61);
        box-shadow: 3px 3px 24px -4px rgba(199, 197, 199, 0.61);
    }

    #destacado {
        -webkit-animation: jello-horizontal 0.9s both;
        animation: jello-horizontal 0.9s both;
    }

    @-webkit-keyframes jello-horizontal {
        0% {
            -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
        }

        30% {
            -webkit-transform: scale3d(1.25, 0.75, 1);
            transform: scale3d(1.25, 0.75, 1);
        }

        40% {
            -webkit-transform: scale3d(0.75, 1.25, 1);
            transform: scale3d(0.75, 1.25, 1);
        }

        50% {
            -webkit-transform: scale3d(1.15, 0.85, 1);
            transform: scale3d(1.15, 0.85, 1);
        }

        65% {
            -webkit-transform: scale3d(0.95, 1.05, 1);
            transform: scale3d(0.95, 1.05, 1);
        }

        75% {
            -webkit-transform: scale3d(1.05, 0.95, 1);
            transform: scale3d(1.05, 0.95, 1);
        }

        100% {
            -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
        }
    }

    @keyframes jello-horizontal {
        0% {
            -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
        }

        30% {
            -webkit-transform: scale3d(1.25, 0.75, 1);
            transform: scale3d(1.25, 0.75, 1);
        }

        40% {
            -webkit-transform: scale3d(0.75, 1.25, 1);
            transform: scale3d(0.75, 1.25, 1);
        }

        50% {
            -webkit-transform: scale3d(1.15, 0.85, 1);
            transform: scale3d(1.15, 0.85, 1);
        }

        65% {
            -webkit-transform: scale3d(0.95, 1.05, 1);
            transform: scale3d(0.95, 1.05, 1);
        }

        75% {
            -webkit-transform: scale3d(1.05, 0.95, 1);
            transform: scale3d(1.05, 0.95, 1);
        }

        100% {
            -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
        }
    }


    .top {
        display: flex;
    }

    #destacado img {
        max-width: 200px;
        max-height: 200px;
    }

    .box-top {
        padding: 10px;
    }

    .box-bottom {
        margin-top: 30px;
        margin-left: 5%;
    }

    h3 {
        margin-top: 20px;
        text-align: start;
        width: 100%;
    }

    .top-section {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-start;
    }


    .bottom-section {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-start;
    }
}

@media (min-width: 720px) {
    .bottom-nav {
        width: 60%;
        padding-right: 3%;
    }

    .search-bottom {
        width: 40%;
    }
}