h5 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 24px;
    font-weight: bold;
    margin: 20px 0;
}

p, input, label {
    font-size: 14px;
}

.main-register {
    padding: 0;
    margin: 0;
    background-color: #cdd6db;
}

.form-register {
    width: 100%;
}

.register {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
}

.contenedor {
    width: 100%;
}

.box-form-1 {
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-start;
}

.box-form-2 {
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-start;
}

.box-form-3 {
    width: 100%;
    margin-top: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.box-form-1,
.box-form-2 {
    background-color: white;
}

.div-foto {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
.div-foto img {
    margin-bottom: 10px;
    max-width: 180px;
}

@media (min-width: 481px) {
    .box-form-1 {
        width: 350px;
    }
    .box-form-2 {
        width: 350px;
        margin-top: 10px;
        padding-top: 95px;
        background-color: rgba(255, 255, 255, 0.459);
    }
    .contenedor {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
}

@media (min-width: 740px) {
    .box-form-2 {
        margin-top: 0;
        margin-left: 10px;
    }
}
