<!DOCTYPE html>
<html lang="en">

<%- include("../parcials/head.ejs", {stylesheet: ["stylehome", "style_carrito" ]}); %>

  <body>
    <%- include("../parcials/header.ejs"); %>
      <%- include("../parcials/roulette.ejs"); %>
        <main>
          <div class="linea-uno-main">
            <div class="tit-cant-prod">
              <h3 class="mi-carrito">Mi Carrito</h3>
              <p class="cant-prod">1 producto</p>
            </div>
            <a href="/" class="seguir-comprando">Seguir comprando</a>
          </div>

          <div id="section-main">
            <section class="articulos">
              <article class="producto">
                <div class="nombre-tacho">
                  <h3 class="nombre">El Ajedrez de Torneo - Zürich 1953</h3>
                  <a href="#"><i class="fas fa-trash-alt"></i></a>
                </div>
                <div class="cont-prod">
                  <img src="/img/ajedrez_de_torneo.jpg" alt="" class="img-prod">
                  <div class="desc-cant-tot">
                    <p class="desc-prod">El libro de un torneo tan fuerte como éste es más que una colección de
                      partidas.
                      Cuando sus participantes son los mejores del mundo, el torneo es como un todo, representa un paso
                      adelante en el
                      desarrollo de la creatividad del ajedrez.</p>
                    <div class="cant-tot">
                      <div></div>
                      <div class="total-prod">
                        <p class="p-total-prod">Precio: <strong>$3.260</strong></p>
                      </div>
                    </div>
                  </div>
                </div>
              </article>
            </section>

            <section class="resumen-comprar">
              <div class="resumen">
                <h4>Resumen del Pedido</h4>
                <div class="subtotal">
                  <p>Subtotal</p>
                  <p>$ 3.260</p>
                </div>
                <div class="envio">
                  <p>Envío</p>
                  <p>$ 500</p>
                </div>
                <div class="total">
                  <p><strong>Total</strong></p>
                  <p><strong>$ 3.760</strong></p>
                </div>
              </div>
              <a href="/"><input type="button" value="Comprar" class="boton-comprar"></a>
            </section>
          </div>
        </main>
        <hr>
<%- include("../parcials/footer"); %>
  </body>

</html>