<!DOCTYPE html>
<html lang="en">

<%- include("../parcials/head", {stylesheet: ["stylehome"]}) %>

  <body>
    <%- include("../parcials/header"); %>
      <%- include("../parcials/roulette"); %>
        <main>
          <section id="destacado">
            <article>
              <h4>DESTACADO DEL MES</h4>
              <h4>#1</h4>
              <div class="destacado">
                <a href="/detalleProducto"><img src="/img/red-queen.jpg" alt="red-queen"></a>
                <p class="title">RED QUEEN</p>
                <p class="price">$0000</p>
                <p class="description">Lorem ipsum dolor sit, amet consectetur adipisicing eli...</p>
              </div>
            </article>
          </section>
          <section class="box-top">
            <div class="top-section">
              <h3><a href="#">BESTSELLERS</a></h3>
              <article>
                <a href="/detalleProducto"><img src="/img/h-p-1.jpg" alt="harry-potter-1"></a>
                <div class="box-book">
                  <p class="title">Harry Potter y la piedra filosofal</p>
                  <p class="price">$0000</p>
                  <p class="book-description">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ratione
                    aut similique debitis...</p>
                </div>
              </article>
              <article>
                <a href="/detalleProducto"><img src="/img/h-p-2.jpg" alt="harry-potter-2"></a>
                <div class="box-book">
                  <p class="title">Harry Potter y la cámara secreta</p>
                  <p class="price">$0000</p>
                  <p class="book-description">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ratione
                    aut similique debitis...</p>
                </div>
              </article>
              <article>
                <a href="/detalleProducto"><img src="/img/h-p-3.jpg" alt="harry-potter-3"></a>
                <div class="box-book">
                  <p class="title">Harry Potter y el prisionero de Azkaban</p>
                  <p class="price">$0000</p>
                  <p class="book-description">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ratione
                    aut similique debitis...</p>
                </div>
              </article>
            </div>
          </section>
          <section class="box-bottom">
            <div class="bottom-section">
              <h3><a href="#">NUEVOS LANZAMIENTOS</a></h3>
              <article>
                <a href="/detalleProducto"><img src="/img/hombres-del-norte.jpg" alt="hombres-del-norte"></a>
                <div class="box-book">
                  <p class="title">Los hombres del norte</p>
                  <p class="price">$0000</p>
                  <p class="book-description">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ratione
                    aut similique debitis...</p>
                </div>
              </article>
              <article>
                <a href="/detalleProducto"><img src="/img/violeta.jpg" alt="violeta"></a>
                <div class="box-book">
                  <p class="title">Violeta</p>
                  <p class="price">$0000</p>
                  <p class="book-description">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ratione
                    aut similique debitis...</p>
                </div>
              </article>
              <article>
                <a href="/detalleProducto"><img src="/img/billy-summers.jpeg" alt="billy-summers"></a>
                <div class="box-book">
                  <p class="title">BILLY SUMMERS</p class="title">
                  <p class="price">$0000</p>
                  <p class="book-description">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ratione
                    aut similique debitis...</p>
                </div>
              </article>
            </div>
          </section>
        </main>
        <hr>
        <section class="news">
          <form action="" method="">
            <label for="name" class="novedades">NOVEDADES</label>
            <div class="send-email">
              <input type="text" placeholder="Nombre" id="name" class="name">
              <input type="email" placeholder="Escribi tu email" class="email">
              <button type="submit"><i class="fas fa-arrow-right"></i></button>
            </div>
          </form>
        </section>
        <hr>
        <%- include("../parcials/footer"); %>
  </body>

</html>