<!DOCTYPE html>
<html lang="en">

<%- include("../parcials/head.ejs", {stylesheet: ["stylehome", "style_login_register" ]}); %>

  <body>
    <%- include("../parcials/header.ejs"); %>
      <main>
        <section class="form-login">
          <form action="/" method="get">
            <h5>Ingresá</h5>
            <input class="completar" type="text" name="Email" value="" placeholder="Email">
            <input class="completar" type="password" name="Contraseña" value="" placeholder="Contraseña">
            <input class="botones" type="submit" name="" value="Ingresar">
            <p><a class="links" href="#">Recuperar Contraseña</a></p>
            <p><a class="links" href="/register">¿No tenés cuenta? Registrate</a></p>
          </form>
        </section>
      </main>
      <hr>
      <%- include("../parcials/footer.ejs"); %>
  </body>

</html>