<!DOCTYPE html>
<html lang="en">
<!-- Include Head -->
<%- include("../parcials/head.ejs", {stylesheet: ["stylehome", "style_login" ]}); %>

  <body>
    <!-- ID Main container es el que contiene toooooodo -->
    <div class="container-fluid" id="main-container">
      <!-- Header -->
      <%- include("../parcials/header.ejs"); %>


        <div class="row text-center">

          <div class="col-12">
            <h3>Parece que este usuario no existe.</h3>
            <p>Volvé al <a href="/" style="text-decoration: underline">inicio</a> o <a
                href="/users/login" style="text-decoration: underline">logueate</a></p>
          </div>

          <div class="col-12">
            <img src="/images/hackerman.PNG" class="img-thumbnail img-fluid" width="400px" alt="">
          </div>


        </div>
        <%- include("../parcials/footer.ejs"); %>
    </div>
  </body>

</html>