<!DOCTYPE html>
<html lang="en">

<%- include("../parcials/head.ejs", {stylesheet: ["stylehome", "producto"]}); %>

<body>
<%- include("../parcials/header.ejs"); %>
  <main>
    <section>
      <div class="container-producto">
        <img src="/img/h-p-1.jpg" alt="imagen de producto">
        <div class="info-y-link">
          <div class="informacion-producto">
            <h3 class="titulo">Harry Potter I</h3>
            <p class="desc">Harry Potter se ha quedado huérfano y vive en casa de sus abominables tíos y el insoportable
              primo Dudley.
              Harry se siente muy triste y solo, hasta que un buen día recibe una carta que cambiará su vida para
              siempre.
              En ella le comunican que ha sido aceptado como alumno en el Colegio Hogwarts de Magia. </p>
            <p class="price">$2.500</p>
            <p class="data-prod">Autor: J. K. Rowling</p>
            <p class="data-prod">Género: Aventura, fantasía</p>
            <p class="data-prod">Modalidad: Virtual</p>
            <p class="data-prod">Páginas: 525</p>
          </div>
          <div id="otros-libros">
            <a href="#" class="ver-otros">Ver otros libros de este autor</a>
          </div>
        </div>
      </div>
    </section>
  </main>
<%- include("../parcials/footer.ejs"); %>
</body>

</html>