<!DOCTYPE html>
<html lang="en">

<%- include("../parcials/head.ejs", { stylesheet: ["stylehome", "style_login_register" ]}); %>

  <body>
    <%- include("../parcials/header.ejs"); %>
      <main>
        <section class="form-register">
          <form action="/" method="get">
            <h5>Crea tu cuenta</h5>
            <p class="textos">Nombre</p>
            <input class="completar" type="text" name="Nombre" value="" placeholder="" required minlength="4">
            <p class="textos">Email</p>
            <input class="completar" type="email" name="Email" value="" placeholder="ejemplo@ejemplo.com" required>
            <p class="textos">Contraseña</p>
            <input class="completar" type="password" name="Contraseña" value="" placeholder="6 caracteres mínimo"
              required minlength="6">
            <input class="botones" type="submit" name="submit" value="Crear">
            <p><a class="links" href="/login">¿Ya tenés cuenta? Inicia sesión</a></p>
          </form>
        </section>
      </main>
      <hr>
      <%- include("../parcials/footer.ejs"); %>
  </body>

</html>