<!DOCTYPE html>
<html lang="en">

<%- include("../parcials/head.ejs", { stylesheet: ["stylehome", "style_login_register" ]}); %>

  <body>
    <%- include("../parcials/header.ejs"); %>
      <main class="main-register">
        <section class="form-register">
          <form action="/" method="get" class="register">
            <div class="contenedor">
              <div class="box-form-1">
                <h5>CREA TU CUENTA</h5>
                <p class="textos">Nombre</p>
                <div>
                  <input class="completar" type="text" name="Nombre" value="" placeholder="" required minlength="4">
                </div>
                <p class="textos">Apellido</p>
                <div>
                  <input class="completar" type="text" name="Apellido" value="" placeholder="" required minlength="4">
                </div>
                <p class="textos">Email</p>
                <div>
                  <input class="completar" type="email" name="Email" value="" placeholder="ejemplo@ejemplo.com"
                    required>
                </div>
                <p class="textos">Contraseña</p>
                <div>
                  <input class="completar" type="password" name="Contraseña" value="" placeholder="6 caracteres mínimo"
                    required minlength="6">
                </div>
              </div>
              <div class="box-form-2">
                <p class="textos">Foto de perfil</p>
                <div class="div-foto">
                  <img src="/img/users/image-default.jpg" alt="image-avatar" class="user-avatar">
                  <input type="file" name="image" id="image" accept=".jpg, .png">
                </div>
              </div>
            </div>
            <div class="box-form-3">
              <div>
                <input class="botones" type="submit" name="submit" value="Crear">
              </div>
              <div>
                <p>¿Ya tenés cuenta? <a class="links" href="/login">Inicia sesión</a></p>
              </div>
            </div>
          </form>
        </section>
      </main>
      <%- include("../parcials/footer.ejs"); %>
  </body>

</html>