<!DOCTYPE html>
<html lang="en">

<%- include("../parcials/head", {stylesheet: ["stylehome"]}) %>

    <body>
        <%- include("../parcials/header"); %>
        <main>
            <P>hacer un for para ver todos los usuarios</P>
        </main>
            <%- include("../parcials/footer"); %>
    </body>

</html>